.contenedor_pagina2{
    background-color: #DDE7C7;
    margin-left: auto;
    padding: 15px;
    margin: 30px;
    border-radius: 8px;
    border: groove #77BFA3;
}
.contenedor_accesorios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}