@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&display=swap');

h1{
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    font-weight: 300;
    font-size: 5em;
}
.header-title{
    text-decoration: none;
}
.header-title:hover{
    color: darkgray;
    transition: color 0.5s ease;
}