.navItem {
    display: flex;
    margin: 0.5rem 5rem;
    width: 15%;
    cursor: pointer;
    text-align: center;
}

a {
    color: #373737;
}

a:hover {
    color:#54A065;
    transition: color 0.5s ease;
}

nav {
    background-color: #98C9A3;
    z-index:1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: groove #C9E4DE;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
}