.myh1 {
  font-weight: bold;
  font-size: 40px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #373737;
}
.container {
  max-width: 400px;
  width: 50%;
  margin:auto;
  background-color: #BFD8BD;
  padding: 1% 5%;
  border: groove #77BFA3;
  border-radius: 8px;
}
.form{
  display: flex;
  flex-wrap: wrap;
}
.text {
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  color: #373737;
}
.input {
  width: 100%;
  border-radius: 8px;
  height: 25px;
}
.buttonLogin {
  margin-top: 20px;
  background-color: #98C9A3;
  font-size: 16px;
  color:#373737;
  width: auto;
  height: auto;

}

.buttonLogout {
  margin-top: 20px;
  background-color: #98C9A3;
  font-size: 16px;
  color:#373737;
  width: auto;
  height: auto;
  margin-left: 41%;
  
}

.username{
  font: bold;
  font-size: 16px;
  font-weight: bold;

}

.logeado{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: groove #77BFA3;
  border-radius: 8px;
  max-width:50%;
  margin-left:23%;
}
.P{
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #373737;
}